html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Press Start 2P", system-ui;
}

html {
  background-color: #bf71af;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #bf71af;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
}

body {
  width: auto;
  margin: 0 auto;
  background-color: #43eded;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}

table {
  display: block;
  border-collapse: collapse;
  border: 2px solid rgb(200 200 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  max-width: fit-content;
}

td,
th {
  border: 1px solid rgb(190 190 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235 235 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250 250 250);
}

tr:nth-child(odd) td {
  background-color: rgb(220 220 220);
}

caption {
  padding: 10px;
}